---
import type { postSchema } from "../schemas/PostSchema";
import type { z } from "astro:content";
type Props = {
  frontmatter: z.infer<typeof postSchema>;
};
const { frontmatter } = Astro.props;
const isFilledAuthorPlatform = frontmatter.authorPlatform;
---

<head>
  <title>{frontmatter.title}</title>
  <meta charset="utf-8" />
</head>
<h1>{frontmatter.title}</h1>
<p>{new Date(frontmatter.pubDate).toISOString().slice(0, 10)}</p>
<p><em>{frontmatter.description}</em></p>
<>
  Written by: {
    isFilledAuthorPlatform ? (
      <a
        href={`https://www.${frontmatter.authorPlatform}.com/${frontmatter.author}`}
      >
        {frontmatter.author}
      </a>
    ) : (
      frontmatter.author
    )
  }
</>
<img src={frontmatter.image?.url} width="300" alt={frontmatter.image?.alt} />
<slot />
